body{
	background: #111111;
	color: #eeeeee;
	font-family: Verdana;
}

section#main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1{
	text-align:center;
}

div#debug_mode_container{
	margin: 1em;
}

canvas#wordle{
	width: 330px;
	height: 540px;
}

canvas#wordle:focus{
	outline:none;
}

a#notice{
	min-height:21px;
	margin-bottom:1em;
}

a#play{
	cursor: pointer;
	padding: 2em;
	background-color: #538d4e;
	border-radius: 10px;
}