body {
	background: #111111;
	color: #eeeeee;
	font-family: verdana, sans-serif;
}

h1 {
	text-align: center;
}

h1,
a {
	color: #ffffff;
}

div#game_container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

div#game_container>div {
	margin: 0.5em 0em;
}


a.grid_cell {
	border: 2px solid #565758;
	display: inline-block;
	width: 60px;
	height: 60px;
	margin: 3px;
	text-align: center;
	line-height: 60px;
	vertical-align: top;
	background-color: transparent;
	font-size: 1.6em;
	font-weight: 700;
}

a.gray {
	background-color: #2c3032;
	border-color: #2c3032;
}

a.green {
	background-color: #538d4e;
	border-color: #538d4e;
}

a.yellow {
	background-color: #b59f3b;
	border-color: #b59f3b;
}

a#info {
	color: #bbbbbb;
}

div.kb_row {
	display: flex;
	justify-content: center;
}

a.btn {
	cursor: pointer;
	padding: 2em;
	margin: 0.5em;
	background-color: #538d4e;
	border-radius: 10px;
}

a.kb_btn {
	display: inline-block;
	cursor: pointer;
	/*
	text-transform: uppercase;
	*/
	font-weight: 700;
	border-radius: 4px;
	background-color: #5e666a;
	border: none;
	margin: 2px;
	padding: 1em;
	font-size: 1em;
	color: #ffffff;

}